* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(imghw/Rectangle\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  padding-top: 217px;
  width: 760px;
}

.top__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  padding-top: 32px;
  width: 490px;
}

.top__text_big {
  font-weight: 700;
}

.top__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  background: #9C0332;
  color: white;
  margin-top: 44px;
  border: none;
  box-sizing: border-box;
  width: 234.06px;
  height: 48.6px;
  border-radius: 20px;
}
.top__button:hover {
  background-color: #fff;
  color: #9C0332;
  text-decoration: underline;
}

.product {
  height: 556px;
  background-image: url(imghw/Rectangle\ 5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.product__item {
  border-radius: 20px;
  box-sizing: border-box;
}
.product__item:hover {
  box-shadow: 3px 3px gray;
}

.game {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  align-content: center;
  background-image: url(imghw/Rectangle\ 6.jpg);
}
.game__foto {
  width: 584px;
}
.game__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.game__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.game__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  background: #9C0332;
  color: white;
  margin-top: 32px;
  border: none;
  box-sizing: border-box;
  width: 234.06px;
  height: 48.6px;
  border-radius: 20px;
}
.game__button:hover {
  background-color: #FFFFFF;
  color: #9C0332;
  text-decoration: underline;
}
.game__picture {
  width: 485px;
  height: 333px;
}
.game__memory_right {
  width: 584px;
}
.game .reverse {
  flex-direction: row-reverse;
}
.game__riddles {
  background-image: url(imghw/unsplash_iO0I6-mhDEY.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.game__riddles_div {
  padding-top: 276px;
  padding-bottom: 288px;
}
.game__riddles_heading {
  color: #fff;
  text-align: center;
  font-size: 48px;
  padding-bottom: 32px;
  line-height: 58px;
}
.game__riddles_text {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}
.game__riddles_button {
  margin-left: 490px;
}

.footer {
  height: 80px;
}
.footer__text {
  background-image: url(imghw/Rectangle\ 6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 12px;
  color: #fff;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top__heading {
    width: 343px;
    color: white;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 33px;
  }
  .top__button {
    display: block;
    margin: auto;
  }
  .product {
    height: 1221px;
    align-content: center;
    gap: 16px;
  }
  .product__item {
    flex-direction: column;
    gap: 32px;
    width: 343px;
    height: 300px;
  }
  .game {
    flex-wrap: wrap;
    gap: 32px;
    height: 653.61px;
  }
  .game__foto {
    width: 100%;
  }
  .game__heading {
    margin-top: 51px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 32px;
  }
  .game__heading_memory {
    text-align: center;
  }
  .game__text {
    width: 343px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 32px;
  }
  .game__text_memory {
    text-align: center;
    width: 343px;
  }
  .game__button {
    display: block;
    margin: auto;
  }
  .game__picture {
    width: 344px;
    height: 236px;
    text-align: center;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .game__memory {
    align-items: center;
    justify-content: center;
  }
  .game__memory_foto {
    order: 2;
  }
  .game__memory_right {
    order: 1;
    text-align: center;
  }
  .game__riddles_heading {
    font-size: 32px;
  }
  .game__riddles_text {
    font-size: 14px;
    padding-bottom: 32px;
  }
}/*# sourceMappingURL=style.css.map */